# Similarities

In [1]:
import pandas as pd
import polars as pl

In [2]:
data = {
    "name": ["Matthew", "Levi", "Andrew", "Justin"],
    "num_occurances": [3, 2, None, 9]
}

## Notice how many common operations are basically the same...

In [5]:
df_pd = pd.DataFrame(data)
df_pd

      name  num_occurances
0  Matthew             3.0
1     Levi             2.0
2   Andrew             NaN
3   Justin             9.0

In [4]:
df_pl = pl.DataFrame(data)
df_pl

shape: (4, 2)
┌─────────┬────────────────┐
│ name    ┆ num_occurances │
│ ---     ┆ ---            │
│ str     ┆ i64            │
╞═════════╪════════════════╡
│ Matthew ┆ 3              │
│ Levi    ┆ 2              │
│ Andrew  ┆ null           │
│ Justin  ┆ 9              │
└─────────┴────────────────┘

In [10]:
df_pl.head(1)

shape: (1, 2)
┌─────────┬────────────────┐
│ name    ┆ num_occurances │
│ ---     ┆ ---            │
│ str     ┆ i64            │
╞═════════╪════════════════╡
│ Matthew ┆ 3              │
└─────────┴────────────────┘

In [14]:
df_pl.shape

(4, 2)

In [15]:
df_pl.dtypes

[String, Int64]

In [16]:
df_pd.dtypes

name               object
num_occurances    float64
dtype: object

In [17]:
df_pl['num_occurances'].describe()

shape: (9, 2)
┌────────────┬──────────┐
│ statistic  ┆ value    │
│ ---        ┆ ---      │
│ str        ┆ f64      │
╞════════════╪══════════╡
│ count      ┆ 3.0      │
│ null_count ┆ 1.0      │
│ mean       ┆ 4.666667 │
│ std        ┆ 3.785939 │
│ min        ┆ 2.0      │
│ 25%        ┆ 3.0      │
│ 50%        ┆ 3.0      │
│ 75%        ┆ 9.0      │
│ max        ┆ 9.0      │
└────────────┴──────────┘

In [18]:
df_pd['num_occurances'].describe()

count    3.000000
mean     4.666667
std      3.785939
min      2.000000
25%      2.500000
50%      3.000000
75%      6.000000
max      9.000000
Name: num_occurances, dtype: float64