# Data Aggregation

In [15]:
import pandas as pd
import polars as pl
import seaborn as sns
flights = sns.load_dataset('flights')
flights

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]

In [45]:
df_pd = pd.DataFrame(flights)
df_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    category
 2   passengers  144 non-null    int64
dtypes: category(1), int64(2)
memory usage: 2.9 KB

In [49]:
grouped_pd = df_pd.groupby('year')['passengers'].mean()
grouped_pd

year
1949    126.666667
1950    139.666667
1951    170.166667
1952    197.000000
1953    225.000000
1954    238.916667
1955    284.000000
1956    328.250000
1957    368.416667
1958    381.000000
1959    428.333333
1960    476.166667
Name: passengers, dtype: float64

In [54]:
df_pl = pl.DataFrame(flights)

grouped_pl = df_pl.group_by('year').agg(pl.col('passengers').mean())
grouped_pl

shape: (12, 2)
┌──────┬────────────┐
│ year ┆ passengers │
│ ---  ┆ ---        │
│ i64  ┆ f64        │
╞══════╪════════════╡
│ 1952 ┆ 197.0      │
│ 1955 ┆ 284.0      │
│ 1960 ┆ 476.166667 │
│ 1956 ┆ 328.25     │
│ 1949 ┆ 126.666667 │
│ …    ┆ …          │
│ 1951 ┆ 170.166667 │
│ 1953 ┆ 225.0      │
│ 1959 ┆ 428.333333 │
│ 1954 ┆ 238.916667 │
│ 1957 ┆ 368.416667 │
└──────┴────────────┘

In [55]:
rolling_avg_pl = df_pl.select([
    pl.col('passengers').rolling_mean(window_size=12).alias('rolling_avg_passengers')
])

rolling_avg_pl

shape: (144, 1)
┌────────────────────────┐
│ rolling_avg_passengers │
│ ---                    │
│ f64                    │
╞════════════════════════╡
│ null                   │
│ null                   │
│ null                   │
│ null                   │
│ null                   │
│ …                      │
│ 463.333333             │
│ 467.083333             │
│ 471.583333             │
│ 473.916667             │
│ 476.166667             │
└────────────────────────┘